body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}
.wordle-container {
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.wordle-header {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.wordle-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.wordle-input input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}
.wordle-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #4CAF50;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.wordle-input button:hover {
  background-color: #c0c0c0;
}
.wordle-feedback {
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.wordle-guesses {
  text-align: center;
  color: white;
}

.sign-out-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #4CAF50;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.sign-out-button:hover {
  background-color: #c0c0c0;
}